/* Global */

body, html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #f8f8f8;
    font-family: 'Helvetica', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Page Title */

.page-title{
	color: #5e6977;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

/* Credit Card Form*/

.credit-card {
    width: 400px;
    height: 400px;
    margin: 40px auto 0;
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid lightgrey;
}

.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}

.form-title {
    margin: 0;
    color: #337ab7;
    font-size: 18px;
}
